body{
    background-color: rgb(209, 238, 255);
    font-family:'Nunito',sans-serif;
    font-weight: bolder;
    font-size: 30px;
}

h1{
    text-align: center;
    background-color: rgb(7, 100, 182);
    border-radius: 5px;
}

h2{
    font-size:x-large ;
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
     font-size: 30px;
    text-align: center;
}

.principal{
    border-spacing: 8.2cm 0.8em;
    font-size:medium;
    line-height: 30px;
}

.lista{
    display: grid;
    grid-auto-rows: 0%;
}

.principal2{
    border-radius: 30%;
    border-spacing: 16cm 0.8em;
    font-weight: bold;
}

input{
    width: 200%;
}

.black{
    font-weight: bold;
}